body{
    height: 100%;
    justify-items: center;
    align-items: center;
    display:grid;
    margin:0;
    text-align:center;
}

.login-inputs{
    height: 90%;
    width: 90%;
}

.password-field , .username-field{
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: 3px;
    padding: 5px;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;

}

.login-btn{
    display:inline-block;
    background-color: rgb(78, 78, 100);
    color: white;
    border-radius: 15px;
    margin-top: 10px;
    height: 50%;
    width: 50%;
}